[Unit]
Description=A Discord Markov bot.

[Service]
Type=notify
ExecStart=/bin/false
SyslogIdentifier=discordmarkovbot

[Install]
WantedBy=multi-user.target

